<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>santé</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>Dz</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>



    <h3 class='alert alert-success' style="margin-bottom:0px;">Articles</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Covid 19</h1>

    <p class="lead">La maladie à coronavirus (COVID19) est une maladie infectieuse due au virus SARS-CoV-2.

      La plupart des personnes infectées par le virus présentent une maladie respiratoire d’intensité légère à modérée et se rétablissent sans avoir besoin d’un traitement particulier. Certaines, cependant, tombent gravement malades et ont besoin de soins médicaux. Les personnes âgées et celles qui ont un problème médical sous-jacent, tel qu’une maladie cardiovasculaire, un diabète, une maladie respiratoire chronique ou un cancer, ont plus de risques de présenter une forme grave. N’importe qui, à n’importe quel âge, peut contracter la COVID-19 et tomber gravement malade ou en mourir.
      
      La meilleure façon d’éviter et de ralentir la transmission est d’être bien informé sur la maladie et sur la manière dont le virus se propage. Protégez-vous et protégez les autres contre l’infection en maintenant une distance d’au moins un mètre avec les autres, en portant un masque correctement ajusté et en vous lavant les mains fréquemment à l’eau et au savon ou avec une solution hydroalcoolique. Faites-vous vacciner quand vient votre tour et suivez les recommandations locales.
      
      Le virus peut se propager par l’intermédiaire des gouttelettes de salive ou de sécrétions nasales émises par une personne infectée quand elle tousse, éternue, parle, chante ou respire. Il est donc important d’appliquer les règles d’hygiène respiratoire, par exemple en se couvrant la bouche et le nez avec le pli du coude lorsque l’on tousse, et si l’on ne se sent pas bien, de rester chez soi et de s’isoler jusqu’à ce qu’on soit rétabli.</p>
      <h1 class="display-4">Symptômes </h1>
      <p class="lead">
        La COVID19 affecte les gens de différentes façons. La plupart des personnes infectées développent une forme légère à modérée de la maladie et se rétablissent sans avoir besoin d’être hospitalisées.

Symptômes les plus courants :

fièvre
toux
fatigue
perte du goût ou de l’odorat
Symptômes moins courants :

maux de gorge
maux de tête
courbatures et douleurs
diarrhée
éruption cutanée ou décoloration des doigts ou des orteils
rougeur ou irritation des yeux
Symptômes graves :

difficultés respiratoires ou essoufflement
perte de la parole, difficultés à se déplacer ou confusion
douleurs thoraciques
Vous devez consulter immédiatement un médecin si vous présentez des symptômes graves. Téléphonez toujours avant de vous rendre chez votre médecin ou dans un établissement de soins.

Les personnes qui présentent des symptômes légers et sont par ailleurs en bonne santé doivent se soigner en restant chez elles.

Il faut en moyenne 5 à 6 jours, mais parfois jusqu’à 14 jours, pour que les symptômes se manifestent chez une personne infectée par le virus.</p><br>
<h1 class="display-4">Les Vaccins disponibles</h1>
<p class="lead">
  Le vaccin COMIRNATY (Pfizer/BioNTech) semble d’une grande efficacité (95 % de taux de protection sur l’ensemble des données analysées) pour prévenir les formes symptomatiques légères à modérées de COVID-19 chez les personnes n’ayant jamais été infectées par SARS-CoV-2. L’efficacité apparaît rapidement avec un taux de protection de 52,4 % dès la première injection.
Cette efficacité semble se maintenir à travers divers sous-groupes évalués selon leur âge, leur sexe, leur origine ethnique et leur facteurs de risque (notamment une maladie exposant à une forme grave de COVID-19). Par ailleurs, les observations de vie réelle faites chez les personnes âgées, y compris en France, ont montré que ce vaccin est très efficace pour prévenir les formes sévères dans cette population : au moins 90 % pour les 75-85 ans et au moins 80 % pour les plus de 85 ans.
Face aux premiers variants préoccupants identifiés depuis la fin 2020 (Alpha, Bêta, Gamma et Delta), ce vaccin a conservé une bonne efficacité, en particulier contre les formes sévères. Concernant le variant Omicron, les tout premiers résultats indiquent que l’efficacité après 2 doses de COMIRNATY semble diminuée (environ 38 %) mais l’efficacité de 3 doses semble maintenue (autour de 75 %).
Avec une année de recul et des milliards de personnes vaccinées, le profil de sécurité de ce vaccin est rassurant, avec essentiellement des réactions habituellement observées après une vaccination, assez fréquentes, plus intenses chez les personnes de moins de 56 ans et après la seconde injection : fatigue, maux de tête, courbatures, frissons, douleurs articulaires, fièvre, etc. Chez les jeunes hommes, des cas de myocardite (inflammation du muscle du cœur) ont été signalés avec ce vaccin (1 cas pour 37 000 injections) dont la très grande majorité ont spontanément disparu en une semaine.
Le vaccin SPIKEVAX (Moderna) semble également d’une grande efficacité plus de 14 jours après la seconde injection (94,1 % de taux de protection sur l’ensemble des données analysées) pour prévenir les formes symptomatiques légères à modérées de COVID-19 chez les personnes n’ayant jamais été infectées par SARS-CoV-2. Cette efficacité semble également se maintenir dans divers sous-groupes évalués selon leur âge, sexe, origine ethnique ou leur risque de forme sévère.
Comme pour COMIRNATY, ce vaccin protège contre les formes sévères chez les personnes âgées et chez celles infectées par les variants Alpha ou Delta. Concernant son efficacité contre le variant Omicron, on ne dispose pas encore de suffisamment de données (décembre 2021).
Le profil de sécurité est également rassurant, avec essentiellement des réactions habituellement observées après une vaccination, assez fréquentes, plus intenses chez les personnes de moins de 65 ans et après la 2e injection : fatigue, maux de tête, courbatures, frissons, douleurs articulaires, fièvre, etc.
Comme pour le vaccin COMIRNATY, chez les jeunes hommes, des cas de myocardite (inflammation du muscle du cœur) ont été signalés avec ce vaccin, avec une fréquence plus élevée qu’avec COMIRNATY (1 cas pour 10 000 injections environ). Pour cette raison, ce vaccin n'est recommandé qu'aux personnes âgées de plus de 30 ans.
Le vaccin VAXZEVRIA (Astrazeneca) semblait lors des études pour sa mise sur le marché un peu moins efficace avec, en moyenne, 70,4 % de protection contre les formes symptomatiques de COVID-19, avec une forte disparité entre les personnes ayant reçu une demi-dose, puis une dose complète (90 % de protection) et ceux ayant reçu deux doses complètes (62,1 %). Des données britanniques, obtenues en vie réelle, suggèrent une efficacité du vaccin AstraZeneca chez les plus de 65 ans de 94 % (taux de protection contre les hospitalisations entre 28 et 34 jours après la première injection).
L’efficacité de ce vaccin est davantage affectée lors d’infections par les nouveaux variants, davantage que dans le cas des vaccins à ARNm. Dans le cas d’Omicron, deux injections de VAXZEVRIA ne semblent pas protéger contre ce variant. En revanche, deux injections de VAXZEVRIA suivies d’une injection de vaccin à ARNm semblent garder une bonne efficacité (autour de 70 % de protection).
Concernant le profil de sécurité de VAXZEVRIA, des effets indésirables graves ont été très rarement observés. Il s’agit de cas de formes rares de thrombose (concernant les sinus veineux cérébraux) et de coagulation intravasculaire disséminée, en particulier chez des femmes de moins de 50 ans. Après avoir suspendu brièvement la vaccination avec ce vaccin, la Haute autorité de santé (HAS) a autorisé à nouveau son utilisation mais recommande à ce stade de n'utiliser VAXZEVRIA que pour les sujets âgés de 55 ans et plus. À la date de décembre 2021, VAXZEVRIA n’est plus utilisé dans le cadre des campagnes de vaccination en France.
Selon les études ayant mené à sa commercialisation, l’efficacité du COVID-19 Vaccine Janssen, qui utilise un vecteur adénoviral humain, apparaît rapidement avec un taux de protection estimé à 66,9 % deux semaines après l’injection (jusqu’à 75 % en l’absence du variant sud-africain). Elle semble se maintenir dans les divers sous-groupes évalués selon leur âge, sexe et origine ethnique. De plus, le vaccin semble avoir une bonne efficacité contre les formes graves (taux de protection d'environ 85 % à partir de 4 semaines après l'injection, y compris en présence du variant sud-africain).
Ce vaccin, au départ administré en une seule injection, doit désormais être suivi d’un rappel avec un vaccin à ARNm 4 semaines après la première injection ou d’une 2e injection de vaccin COVID-19 Vaccin Janssen 2 mois après la 1e injection. Il est réservé aux personnes âgées de 55 ans et plus.
Le vaccin NUVAXOVID peut être administré aux personnes âgées de 18 ans et plus, en primovaccination (2 injections à 3 semaines d’intervalle). Il peut être administré en 2e injection chez des personnes ayant mal supporté une 1e injection avec un autre vaccin. Pour l’instant, il ne doit pas être utilisé en injection de rappel (« 3e dose »). L’efficacité du vaccin NUVAXOVID sur les formes symptomatiques de Covid-19 est estimée entre 89,7 et 90,4 % selon les essais. Une efficacité similaire a été mise en évidence chez les participants âgés de 65 à 84 ans, chez ceux atteints de comorbidités et chez ceux atteints par des variants préoccupants, en particulier le variant Alpha qui était prédominant pendant la période où les études ont été réalisées.
Les effets indésirables locaux et généraux les plus fréquents chez les personnes âgées de 18 à 64 ans, notamment après la deuxième dose de NUVAXOVID, ont été : la sensibilité (69 %) et la douleur (58 %) au site d’injection, la fatigue (47 %), les maux de tête (43 %) ainsi que les malaises (37 %). Ces effets indésirables étaient moins fréquents après la première injection. De façon générale, la fréquence des effets indésirables était plus élevée après la deuxième injection ainsi que chez les participants de 18 à 64 ans (par rapport à ceux de 65 ans et plus).</p>
     

<hr class="my-4">


    <p> Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Acueil</a>
    </p>
  </div>
  
    
    
       
  
  {% include "hospital/footer.html" %}
</body>


</html>
