{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Bienvenu , Docteur</h1>
  <p class="lead">Bienvenu Sur Notre site</p>
  <hr class="my-4">
  <p>Inscription </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Inscription</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
