{% extends 'hospital/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Binevenu , citoyen</h1>
  <p class="lead">se vacciné , se protéger</p>
  <hr class="my-4">
  <p>Inscription ou login</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">inscription</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
