<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>santé</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>Santé dz</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>



  <div class="container">
    <div class="row">
      <div class="col">
       <div class="card"  >
    <div class="card-body">
      <h5 class="card-title">Liste des Patients  </h5>
      <h6 class="card-subtitle mb-2 text-muted"><a class="btn btn-success"  href="{% url 'createp' %}">Ajouter</a></h6>
  <table class="table ">
    <thead>
      <tr> 
        <th scope="col">Nom</th>
        <th scope="col">Type virus</th>
        <th scope="col">Tel</th>
        <th scope="col">Aderesse</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    
        {% for p in patient %}
        <tr>
          <td> {{p.get_name}}</td>
          <td>{{p.symptoms}}</td>
          <td>{{p.mobile}}</td>
          <td>{{p.address}}</td>
        
        <td>
          <a href="#">Mise a jour</a><br>
          <a  href="#">supprimer</a>
          </td>

        
         </tr>  
        {% endfor %}
     
    </tbody>
  </table>
    </div>
  </div>
      </div>